* {
    font-family: 'Open Sans', sans-serif;
}

/* header styles */

.header{
    background: url('../images/banner/banner3.png');
    width: 1600px;
    height: 808px;
}

.header .title {
    text-align: right;
    padding-top: 250px;
    padding-right: 140px;
    padding-left: 640px; 
    color: #FFFFFF;
    font-weight: 600;
    font-size: 60px;   
}

.header .description{
    padding-right: 140px;
    color: #FFFFFF;
    text-align: right;
    padding-left: 650px; 
    padding-bottom: 20px;
}
    
.btn-banner{
    margin-right: 140px;
    color: #FFFFFF;
    text-align: right;
    margin-left: 1110px;
    font-weight: 600;
    font-size: 18px;
    height: 64px;
    border: 0;
    padding: 5px 25px;
    height: 50px;
    border-radius: 5px;
    background-color: #FD6E0A; 
}
    
.title {
    margin: 0 200px;

}

.description {
   margin: 0 200px;

}
    /* banner styles */
.banner {
        display: flex;
        margin: 100px 190px;
        align-items: center;
        gap: 25px;
}

.banner-head {
        margin-left: 50px;
}

.banner-title {
        font-weight: 700;
        font-size: 40px;
        color: #151414;
        margin-bottom: 20px;

}

.banner-description {
        font-weight: 400;
       
        color: #444343;

}

.banner .banner-style{
        gap:10px;
        color: #444343;
        
}

    /* My Plans style */
.about-info-container {
        display: flex;
        justify-content: space-around;
        margin: 100px 200px;
}

.my-plans {
        text-align: center;
}

.about .info-title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #151414;
}

.info-description {
        font-weight: 500;
        font-size: 20px;
        color: #737272;
}

    /* last section */
.container{
       
        position: relative;
        color: #fff;
        height: 230px;
        margin: 0 180px;
        background-size: 100%;
        border: 0;
        border-radius: 5px;
        
        background: linear-gradient(90deg, #01335c 0%, rgba(1, 59, 107, 0) 100%), url('../images/watch.png');       
}
.container h2{
        font-size: 40px;
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 400px;
        padding-top: 15px;      
}

.container button{
        width: 140px;
        height: 50px;
        color: #005FAC;
        font-weight: 600;
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 40px;
        border: 0;
        border-radius: 5px;       
}
      
    /* Future styles */
.future {
        display: flex;
        gap: 230px;
        background: #151414;
        padding: 130px 180px;
        margin-top: 80px;      
}

.future .banner-title {
        text-align: left;
        color: #F8F8F8;
}

.future .sub-banner-title {
        color: #F8F8F8;
        margin-top: 30px;
}

.future-description {
        color: #FFFFFF;
        width: 485px;
        height: 78px;
}

.form-style{
    
        border-radius: 8px;
        width: 250px;
        height: 40px;
        border: 0;
        font-weight: 700;
        font-size: 15px;
        background-color:#fff;
        padding-top: 20px;
        padding-left: 15px;
        margin-bottom: 20px;   
}

.btn-primary {
        color: azure;
        font-weight: 700;
        font-size: 18px;
        width: 150px;
        border: 0;
        padding: 5px 20px;
        height: 50px;
        border-radius: 5px;
        background-color: #ee7219;
}

.footer-description {
        color: #FFFFFF;
}

.future input[type="text"] {
        margin-bottom: 20px;
        height: 40px;
        width: 200px;
        padding-left: 20px;
}
    
   